header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: 100%;
    padding: 10px 10vw;
    box-sizing: border-box;
    background: #f9b5bb;

    .logo {
        width: 50px;
    }

    nav{
        margin-left: 50vw;
        ul {
            display: flex;
            flex-direction: row;
            align-content: end;
            li {
                list-style-type: none;
                margin: 0 5px;
                color: #360C4D;
                .text-link {
                    text-decoration: none;
                }
            }
        }
    }

    .toggle-menu{
        width: 30px;
        height: 30px;
    }
}